# Created by https://www.gitignore.io/api/django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
/media
/static

### Front End ###
node_modules/
.vscode/
public/dist/
yarn-error.log
.env.test
.env.development